/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1069px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #7af9ff;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: rgba(var(--bs-success-rgb),1);
  color: #ffff;
  padding: 10px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 700px) {
  .sidenav {
    height: auto;
    padding: 20px;
  }
  .row.content {height: auto;} 
}

/* Sets opacity of bootstrap default backgrounds to 50%*/
.bg-opacity-50{
  --bs-bg-opacity: .5;
};

/* Sets opacity of bootstrap default backgrounds to 25%*/
.bg-opacity-25{
  --bs-bg-opacity: .9;
};